<!---1-- Detect duplicate values C#----->
using System;
using System.Collections.Generic;
using System.Linq;

namespace CodeTest
{
    class Program
    {
        static void Main(string[] args)
        {
                 int compareX = 1234;
             List<int> ages = new List<int> { 21, 21, 21, 46, 46, 46, 55, 55, 55 };

            foreach (int agess in ages)
            {
                
               
                if(agess != compareX)
                {
                    compareX = agess;
                    Console.WriteLine("Distict Age detected");
                }

            }

        }
    }
}

<!---2--- showing multiple header rows on a table and controlling when it is being shown --->


@{ string compareX = "1234"; }
           

            @if (Model.Count() > 0)
            {

                <br /><br /><br /><br />
                <h3><b> Shipment Details</b> <br /></h3>
                <table class="table table-striped">
                    @foreach (var item in Model)
                    {


                        @if (@item.A == null)
                        {

                        }
                        else
                        {

                            @if (@item.AWBNO != compareX)
                            {
                                compareX = @item.A;

                                <thead>

                                    <tr style="color:white; background-color:red">

                                        <th>
                                            <div> @Html.DisplayNameFor(model => model.A) </div>
                                        </th>
                                        <th>
                                            <div> @Html.DisplayNameFor(model => model.B) </div>
                                        </th>
                                        <th>
                                            <div> @Html.DisplayNameFor(model => model.C)</div>
                                        </th>
                                        <th>
                                            <div> @Html.DisplayNameFor(model => model.D) </div>
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                            }


                            <tbody>

                                <tr>

                                    <td>
                                        <div> @Html.DisplayFor(modelItem => item.A) </div>
                                    </td>
                                    <td>
                                        <div> @Html.DisplayFor(modelItem => item.B) </div>
                                    </td>
                                    <td>
                                        <div> @Html.DisplayFor(modelItem => item.C) </div>
                                    </td>
                                    <td>
                                        <div> @Html.DisplayFor(modelItem => item.D) </div>
                                    </td>
                                </tr>

                            </tbody>

                        }}
                </table>
            }

        </div>
    </div>
    
    <!---3---How to use Distinct<TSource>(IEnumerable<TSource>) to return distinct elements from a sequence of integers----------->
    The following code example demonstrates how to use Distinct<TSource>(IEnumerable<TSource>) to return distinct elements from a sequence of integers.
List<int> ages = new List<int> { 21, 46, 46, 55, 17, 21, 55, 55 };

IEnumerable<int> distinctAges = ages.Distinct();

Console.WriteLine("Distinct ages:");

foreach (int age in distinctAges)
{
    Console.WriteLine(age);
}

/*
 This code produces the following output:

 Distinct ages:
 21
 46
 55
 17
*/
    Source: https://docs.microsoft.com/en-us/dotnet/api/system.linq.enumerable.distinct?redirectedfrom=MSDN&view=net-6.0#System_Linq_Enumerable_Distinct__1_System_Collections_Generic_IEnumerable___0__
    
    
 <!---4--- SPlit by enter -----------> 
string[] SplitValue = StaffSearch.Split("\r\n");

<!---5--- CHECH IF AN ARRAY CONTAINS DUPLICATE VALUES -----------> 

<script>
const numbers = [1, 2, 3, 5, 6];

let isDuplicate = false;

// Outer for loop
for (let i = 0; i < numbers.length; i++) {
    // Inner for loop
    for (let j = 0; j < numbers.length; j++) {
        // Skip self comparison
        if (i !== j) {
            // Check for duplicate
            if (numbers[i] === numbers[j]) {
                isDuplicate = true;
                // Terminate inner loop
                break;
            }
        }
        // Terminate outer loop
        if (isDuplicate) {
            break;
        }
    }
}

if (!isDuplicate) {
    alert(`Array doesn't contain duplicates.`);
} else {
   alert(`Array contains duplicates.`);
}
// Output: Array contains duplicates.

</script>
    
  <!---6---MULTIPLE ORDERING OF A LIST TABLE IN CONTROLLER -----------> 
return View(query.OrderByDescending(x => x.AWBNO).ThenByDescending(x => x.DATE).ToList());
  
    <!---7---Search Multiple Words----------->



        [HttpGet]
        public async Task<IActionResult> Index(string StaffSearch)
        {
            if (StaffSearch == null)
            {
                var displaydata = _db.HistorypodScans.Take(0).ToList();
                return View(displaydata);
            }


            ViewData["Getstaffdetails"] = StaffSearch;

           

            

            if (!String.IsNullOrEmpty(StaffSearch))
            {
                string[] SplitValue = StaffSearch.Split(",");

                List<HistorypodScans> query = new List<HistorypodScans>();

                foreach (var word in SplitValue)
                {
                    var staffquery = _db.HistorypodScans.Where(x => x.Waybillnumber.Equals(word) || x.AWBNO.Equals(word)).ToList();
                    query.AddRange(staffquery);
                }

                return View(query);
            }


            else
                        {
                            var displaydata = _db.HistorypodScans.Take(0).ToList();
                            return View(displaydata);
                        }

        }
        
        
       <!---8---Display a specific number of items from a table in a list----------->
return View(_db.HistorypodScans.OrderByDescending(x => x.Srn).Take(10).ToList());
return View(_db.HistorypodScans.Take(10).ToList());
 
    
<!---9---Add the runtime compilation functionality after starting a project without choosing the Runtime Compilation----------->
INSTALL NUGET PACKAGE
Microsoft.ASPNETCore.MVC.Razor.RuntimeCompilation

ADD TO SERVICE
services.AddControllersWithViews().AddRazorRuntimeCompilation();

  <!---10---Split string into an array----------->

<----JS----->
This is a Split example.
<br/><br/><br/>

<script>
var a = "Hello, World";

var MyList = a.split(",") ;

var b = MyList [0];
var c = MyList [1];

document.write(b);  //Change the "b" to "c", it will output the second value

</script>


      
<----C#----->
Console.WriteLine("Comma separated strings");  
// String of authors  
string authors = "Mahesh Chand, Henry He, Chris Love, Raj Beniwal, Praveen Kumar";  
// Split authors separated by a comma followed by space  
string[] authorsList = authors.Split(", ");  
foreach (string author in authorsList)  
Console.WriteLine(author);  


Reference: https://www.c-sharpcorner.com/UploadFile/mahesh/split-string-in-C-Sharp/
  
  <!-- 11. Handling specific and general errors---->
try
                {
                    newStudent.Name = Util.Console.Ask("Name:");
                    newStudent.Grade = Util.Console.AskInt("Age:");
                    newStudent.Phone = Util.Console.AskInt("Grade:");
                }

                catch (FormatException)
                {
                    Console.WriteLine("Wrong data format");
                }
                
                catch (Exception)
                {
                    Console.WriteLine("Error.");
                }
      
        
     <!-- 12. Using Try-Catch-Finally ---->


catch (Exception ex)
{
Console.WriteLine(ex.Message);
}
finally
{
if (sr != null)
{
sr.Close();
}
}   

<!---13----<h2>Parsing a JSON Array.</h2>---------->
<p>Data written as an JSON array will be parsed into a JavaScript array.</p>
<p id="demo"></p>

<script>
const text = '[ "Ford", "BMW", "Audi", "Fiat" ]';
const myArr = JSON.parse(text);
document.getElementById("demo").innerHTML = myArr[0];
</script>

<!---14----<h2>Creating an Object from a JSON String</h2>---------->
<p id="demo"></p>

<script>
const txt = '{"name":"John", "age":30, "city":"New York"}'
const obj = JSON.parse(txt);
document.getElementById("demo").innerHTML = obj.name + ", " + obj.age;
</script>
    
<!---15 -----<h2> Implementing Viewbag</h2>-------------->
    public IActionResult Create() 
        {
            DataSet de = dbop.GetMMSCompany();

            List<SelectListItem> list1 = new List<SelectListItem>();
            list1.Add(new SelectListItem { Text = "Select Company", Value = "" });
            foreach (DataRow dr in de.Tables[0].Rows)
            {
                
                list1.Add(new SelectListItem { Text = dr["Company"].ToString(), Value = dr["Company"].ToString() });
            }

            ViewBag.MMSCustomersList = list1;

            return View();
        }
    
    <!--16----------------Adding migration when there are more than 1 DbContext----------------------------------------------->
    
    add-migration AddBlogPostsToDatbase -Context BlogPostDbContext

                
<!--17---------Write Log to a file--------------------------------------------------------------------------------------------->
                Log.Logger = new LoggerConfiguration().MinimumLevel.Debug()
    .WriteTo.File("log/villaLogs.txt", rollingInterval: RollingInterval.Day).CreateLogger();

builder.Host.UseSerilog();
